@{
	ViewBag.Title = Localization.Contacts;
}
<h2>@Localization.Contacts</h2>
@{ Html.RenderPartial("_Phones"); }
<div>
	Авторынок "Малиновка" 34/12Н
</div>
<div>
	Google maps and Yandex Maps goes here
</div>
