@{
	ViewBag.Title = "О нас";
}
<div id="certificateInfo">
	ИП Демьянович Пётр Васильевич
	<br />
	Свидетельство о регистрации номер 192124231
	<br />
	от 19.09.2013
</div>
<img src="@Url.Content("~/Content/images/certificate.jpg")" id="certificate" alt="Свидетельство о регистрации" />