@using System.Web.Optimization
@using abw.ViewModels;
@model List<CarForDisplay>
@{
	ViewBag.Title = "Машины";
	Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@section styles
{
	@Styles.Render("~/Content/styles/fotorama")
}

@section scripts
{
	<script type="text/javascript">
		require(['main'], function (main) {
			main.loadModules(['modules/initFotorama']);
		});
	</script>
}

@if (!Model.Any())
{
	@: Машин не найдено
}
else
{
	<div id="fotoramaWrapper">
		@foreach (CarForDisplay car in Model)
		{
			<div>
				<strong>@Html.ActionLink(car.Name, "Car", new { id = car.Id })</strong>
			</div>
			<div class="fotorama" data-width="800" data-allowfullscreen="native" data-nav="thumbs" data-loop="true">
				@foreach (string photo in car.Photos)
				{
					<img src="@Url.Content(photo)" class="car-photo" alt="@car.Name photo" />
				}
			</div>
		}
	</div>
}