@using System.Web.Optimization
@using abw.ViewModels;
@model List<CarForDisplay>
@{
	ViewBag.Title = "Машины";
}
@section styles
{
	@Styles.Render("~/cars")
}
@if (!Model.Any())
{
	@:К сожалению, в данный момент автомобилей на запчасти нет
}
else
{
	<div id="carsTitle">
		У нас Вы можете приобрести различные запчасти к следующим б/у автомобилям:
	</div>
	foreach (CarForDisplay car in Model)
	{
		<div>
			<strong>@Html.ActionLink(car.Name, "Car", new { id = car.Id })</strong>
		</div>
		foreach (string photo in car.Photos)
		{
			<img src="@Url.Content(photo)" class="car-photo" alt="@car.Name photo" />
		}
	}
}