@model List<string>
@{
	ViewBag.Title = "Каталог машин";
}
<div id="carsCatalogueTitle">
	У нас вы можете приобрести различные запчасти к следующим б/у автомобилям:
</div>
@foreach (string myCar in Model)
{
	<div>
		<strong>@myCar</strong>
	</div>
}