@using System.Web.Optimization
@{
	ViewBag.Title = "Контакты";
}
@section styles
{
	@Styles.Render("~/Content/styles/custom/contacts")
}
@section scripts
{
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyD0NvPmuC93QnT8a9mQGEXfpEM1UgMps4Q&sensor=false&language=ru"></script>
	<script type="text/javascript">
		require(['contacts']);
	</script>
}
@* todo: add yandex maps and mapbox *@
@* todo: add button 'Get directions' *@
<div>
	<div id="googleMapsTitle">Время и место работы</div>
	@* todo: if header width is longer than google maps width maps are not centered *@
	<div class="google-map-wrapper">
		<span>
			09:00 - 14:00
		</span>
		<div data-bind="template: { afterRender: initMarketMap }">
		</div>
	</div>
	<div class="google-map-wrapper">
		<span>
			14:00 - 21:00
		</span>
		<div data-bind="template: { afterRender: initStorehouseMap }">
		</div>
	</div>
</div>
<div id="dayOff">
	Выходной: понедельник
</div>

<table id="contacts" class="table table-bordered">
	<tr>
		<th colspan="2">Контакты</th>
	</tr>
	<tr>
		<td>
			Имя
		</td>
		<td>
			Пётр
		</td>
	</tr>
	<tr>
		<td>
			Телефоны
		</td>
		<td>
			@{ Html.RenderPartial("_Phones"); }
		</td>
	</tr>
	<tr>
		<td>
			Электронная почта
		</td>
		<td>
			<a href="mailto:demo_xxx@mail.ru">demo_xxx@mail.ru</a>
		</td>
	</tr>
</table>