<div class="page-content-wrapper header-background">
	<div class="page-content header">
		@if (!User.Identity.IsAuthenticated)
		{
			<a data-bind="click: openSignInModal" class="sign-in-link">Войти</a>
		}
		else
		{
			string returnUrl = Request.Url != null
				? Request.Url.AbsolutePath
				: null;

			<text>Здравствуйте, @User.Identity.Name</text>
			<span class="border"></span>
			@Html.ActionLink("Машины", "Grid", "Cars")
			<span class="border"></span>
			@Html.ActionLink("Выйти", "SignOut", "Account", new { returnUrl }, null)
		}
	</div>
</div>