#carModelsLabel {
	margin: 5px;

	label {
		display: inline-block;
	}

	input[type=button] {
		display: inline-block;
	}
}

.car-model {
	&:not(:last-of-type) {
		margin-bottom: 10px;
	}

	.btn.btn-danger {
		display: none;

		&.visible {
			display: initial;
		}
	}
}
