.form-title {
	margin: 0 0 0 10px;
	display: inline-block;
	line-height: 34px;
	vertical-align: middle;
}

.form {
	hr {
		margin: 15px 0;
	}

	&.sign-in-form input[type=submit] {
		width: 66px;
	}

	&:not(.sign-in-form) input[type=submit] {
		width: 96px;
	}

	label {
		display: block;
	}

	input[type=text], input[type=password] {
		border: 1px solid #ABADB3;
		padding: 2px 4px;
	}

	input[type=submit] {
		background-image: url(../../images/facebook-loader.gif) !important;
		background-repeat: no-repeat;
		background-position: -100px;

		&.loading {
			text-indent: -999px;
			background-position: center;
			opacity: 1;
		}
	}

	.alert.alert-danger {
		font-weight: bold;
		margin-top: 15px;
		display: none;
	}

	&.modal-content .alert.alert-danger {
		text-align: left;
		margin-bottom: 0;
	}
}
