body {
	display: table;
	margin: 10px auto;
}

header {
	display: table;
	margin: 0 auto 10px auto;
	width: 344px;

	#authInfo {
		float: left;
	}

	.phones {
		float: right;
	}

	.nav {
		clear: both;

		&.nav-tabs {
			padding-top: 5px;
		}

		li:last-child a {
			margin-right: 0;
		}
	}
}

.phones tr td:not(:last-child) {
	padding-right: 5px;
}

.input-validation-error {
	border: 1px solid red !important;
	background-color: #fee;
}

.field-validation-error {
	color: red;
}

#confirm .modal-dialog {
	width: 300px;
}

#carsTitle {
	margin-bottom: 10px;
}

.car-photo {
	display: block;
	max-width: 600px;
}
