body {
	display: table;
	margin: 10px auto;
}

header {
	display: table;
	margin: 0 auto 10px auto;
	width: 800px;

	#authInfo {
		float: right;
		height: 62px;
	}

	.phones {
		float: right;
		clear: right;
	}

	#carLogos {
		display: inline-block;
		text-align: center;
		margin-bottom: 15px;

		> div {
			font-weight: bold;
			font-style: italic;
			margin-bottom: 10px;
			font-size: 16px;
		}

		img {
			max-width: 100px;
		}
	}
}

.phones tr td:not(:last-child) {
	padding-right: 5px;
}

.input-validation-error {
	border: 1px solid red !important;
	background-color: #fee;
}

.field-validation-error {
	color: red;
}

#confirm .modal-dialog {
	width: 300px;
}

#carsTitle {
	margin-bottom: 10px;
}

.car-photo {
	display: block;
	max-width: 600px;
}

#certificate {
	max-width: 700px;
}

#certificateInfo {
	text-align: center;
	margin-bottom: 5px;
	font-weight: bold;
}
