body {
	display: table;
	margin: 10px auto;
}

header {
	margin-bottom: 20px;

	.phones {
		float: right;
	}

	.nav-tabs {
		clear: both;
	}
}

hr {
	margin: 15px 0;
}

#formTitle {
	margin: 0 0 0 10px;
	display: inline-block;
	line-height: 34px;
	vertical-align: middle;
}

form {
	label {
		display: block;
	}
}

.phones tr td:not(:last-child) {
	padding-right: 5px;
}

.input-validation-error {
	border: 1px solid red !important;
	background-color: #fee;
}

.field-validation-error {
	color: red;
}

input[type=text] {
	border: 1px solid #ABADB3;
	padding: 2px 4px;
}

#newButton {
	margin-bottom: 10px;
}

.grid {
	&.no-data tbody {
		tr#noRecordsFound {
			display: table-row;
		}
	}

	&:not(.no-data) tbody {
		tr:not(#noRecordsFound) {
			display: table-row;
		}
	}

	th {
		border-bottom-width: 1px !important;
	}

	tbody tr {
		display: none;

		td:first-child a {
			display: block;
			width: 100%;
		}
	}

	tr:hover:not(#noRecordsFound) {
		td {
			background-color: #EBEBEB !important;
		}
	}

	tr:not(#noRecordsFound) td:last-of-type {
		padding: 7px 8px;
		text-align: center;
		vertical-align: middle;
		cursor: pointer;
	}

	.glyphicon-remove {
		color: red;
		cursor: pointer;
		font-size: 1.5em;
	}

	#noRecordsFound {
		display: none;
		text-align: center;
	}
}
