#newButton {
	margin-bottom: 10px;
}

.grid {
	border-width: 1px 0 0 0;
	max-width: 500px;

	&.no-data tbody {
		tr#noRecordsFound {
			display: table-row;
		}
	}

	&:not(.no-data) tbody {
		tr:not(#noRecordsFound) {
			display: table-row;
		}
	}

	thead > tr > th {
		border-bottom-width: 1px !important;
		vertical-align: middle;

		&#yearHeader {
			text-align: center;
		}
	}

	tbody tr:not(#noRecordsFound) {
		display: none;

		&:last-child#pageInfo {
			display: none;

			&.visible {
				display: table-row;
			}

			td {
				background-color: white;
				border: none;
				text-align: center;

				&:hover {
					background-color: white !important;
				}

				> div {
					&:first-child {
						font-weight: bold;
					}

					&#scrollingTip {
						font-size: 13px;
						color: gray;
						font-style: italic;
						cursor: pointer;
					}
				}
			}
		}
	}

	tr:hover:not(#noRecordsFound) {
		td {
			background-color: #EBEBEB !important;
		}
	}

	tr:not(#noRecordsFound) td:last-of-type:not([colspan]) {
		padding: 7px 8px;
		text-align: center;
		vertical-align: middle;

		a {
			text-decoration: none;
		}
	}

	.glyphicon {
		font-size: 1.5em;

		&.glyphicon-remove {
			color: red;
			cursor: pointer;

			&:hover {
				color: #C00000;
			}
		}
	}

	#noRecordsFound {
		display: none;
		text-align: center;
	}
}

#carMakesColumn {
	width: 250px;
	padding: 8px 6px 6px 8px;

	span {
		border: 1px solid gray;
		border-radius: 5px;
		padding: 2px 4px;
		display: inline-block;
		margin: 0 4px 4px 0;
		background-color: lightgray;
	}
}
