<table>
	<tr>
		<td>@Localization.Velcom</td>
		<td>
			<img src="@Url.Content("~/Content/images/velcom.gif")" alt="velcom logo" />
		</td>
		<td>+375(29)6155993</td>
	</tr>
	<tr>
		<td>@Localization.MTS</td>
		<td>
			<img src="@Url.Content("~/Content/images/mts.gif")" alt="mts logo" />
		</td>
		<td>+375(29)5601959</td>
	</tr>
</table>
