<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="dotless" type="dotless.Core.configuration.DotlessConfigurationSectionHandler, dotless.Core" />
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>

	<connectionStrings>
		<add name="abw" connectionString="Data Source = (local); Initial Catalog = abw; Integrated Security = SSPI" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
		<add key="webpages:Version" value="2.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="PreserveLoginUrl" value="true" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="GridPageSize" value="10" />
	</appSettings>

	<system.web>
		<authentication mode="Forms">
			<forms loginUrl="~/account/signIn" name=".APPAUTH" />
		</authentication>
		<customErrors mode="RemoteOnly" defaultRedirect="~/errors/genericError">
			<error statusCode="500" redirect="~/errors/internalServerError"/>
			<error statusCode="404" redirect="~/errors/pageNotFound"/>
		</customErrors>
		<!-- maxRequestLength is 100 mb -->
		<httpRuntime targetFramework="4.5" maxRequestLength="102400" />
		<compilation debug="true" targetFramework="4.5" />
		<pages>
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages" />
			</namespaces>
		</pages>
		<httpHandlers>
			<add path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler, dotless.Core" />
		</httpHandlers>
	</system.web>

	<system.webServer>
		<staticContent>
			<mimeMap fileExtension=".woff" mimeType="application/font-woff" />
		</staticContent>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<add name="dotless" path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler,dotless.Core" resourceType="File" preCondition="" />
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
	</system.webServer>
	<dotless minifyCss="false" cache="true" web="false" />

	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
	</entityFramework>

	<log4net>
		<appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="../logs/logs.log" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<datePattern value="yyyy-MM-dd" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date{dd.MM.yyyy HH:mm:ss}  %level  %location  %message%newline%exception" />
			</layout>
		</appender>
		<root>
			<appender-ref ref="FileAppender" />
		</root>
	</log4net>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>