@using abw.Helpers
@using abw.ViewModels
@model Grid<CarForDisplay>
@{
	ViewBag.Title = "Машины";
}
@section scripts
{
	<script type="text/javascript">
		require(['allCars'], function (allCars) {
			allCars(@Html.Raw(NewtonJson.Serialize(Model)));
		});
	</script>
}
@{ Html.RenderPartial("Buttons/_New"); }
<table class="table table-striped table-bordered grid">
	<thead>
		<tr>
			<th>Марка</th>
			<th>Модели</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<!-- ko foreach: list -->
		<tr>
			<td>
				<a data-bind="text: make, attr: { href: '@Url.Action("Edit")' + '/' + id }" title="Редактировать"></a>
			</td>
			<td data-bind="foreach: models">
				<div data-bind="text: $data"></div>
			</td>
			<td data-bind="click: $root.deleteCar" title="Удалить">
				<i class="glyphicon glyphicon-remove" title="Удалить"></i>
			</td>
		</tr>
		<!-- /ko -->
		<!-- ko ifnot: list().length -->
		@{ Html.RenderPartial("_NoRecordsFound", 3); }
		<!-- /ko -->
	</tbody>
</table>
