<div data-bind="foreach: carsTree" id="carsTree">
	<!-- ko with: make -->
	<strong data-bind="template: { name: 'link' }"></strong>
	<!-- /ko -->
	<!-- ko foreach: models -->
	<div data-bind="template: { name: 'link' }"></div>
	<!-- /ko -->
</div>

<script type="text/html" id="link">
	<a data-bind="text: text, attr: { href: href }"></a>
</script>