@* number of colums in table *@
@model int
<tr id="noRecordsFound">
	<td colspan="@Model">Записей не найдено</td>
</tr>
<!-- ko if: list().length -->
<tr>
	<td id="pageInfo" colspan="@Model">
		<div data-bind="text: pageInfo"></div>
		<div data-bind="if: list().length !== totalCount && !loading()" id="scrollingTip">
			Прокрутите вниз, чтобы загрузить больше
		</div>
		<img data-bind="visible: loading" src="@Url.Content("~/Content/images/facebook-loader.gif")"
			 alt="continuous pagination loader" />
	</td>
</tr>
<!-- /ko -->