<div class="phones">
	<div>
		Velcom
		<img src="@Url.Content("~/Content/images/velcom.gif")" alt="velcom logo" />
		+375 (29) 615-59-93
	</div>
	<div>
		МТС
		<img src="@Url.Content("~/Content/images/mts.gif")" alt="mts logo" />
		+375 (29) 560-19-59
	</div>
</div>