<table class="phones">
	<tr>
		<td>Velcom</td>
		<td>
			<img src="@Url.Content("~/Content/images/velcom.gif")" alt="velcom logo" />
		</td>
		<td>+375 (29) 615-59-93</td>
	</tr>
	<tr>
		<td>МТС</td>
		<td>
			<img src="@Url.Content("~/Content/images/mts.gif")" alt="mts logo" />
		</td>
		<td>+375 (29) 560-19-59</td>
	</tr>
</table>
