<div id="signInModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<form class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Войти</h4>
			</div>
			<div class="modal-body">
				<div>
					<label>Имя</label>
					<input type="text" />
				</div>
				<div>
					<label>Пароль</label>
					<input type="password">
				</div>
			</div>
			<div class="modal-footer">
				<input type="submit" class="btn btn-primary cancel" value="Войти" />
			</div>
		</form>
	</div>
</div>