@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles
{
	@RenderSection("styles", false)
}
@section scripts
{
	<script type="text/javascript">
		require(['main'], function (main) {
			main.loadModules(['modules/carsTreeLoader']);
		});
	</script>
	@RenderSection("scripts", false)
}

<div data-bind="foreach: carsTree" class="cars-tree">
	<!-- ko with: make -->
	<strong data-bind="template: { name: 'link' }"></strong>
	<!-- /ko -->
	<!-- ko foreach: models -->
	<div data-bind="template: { name: 'link' }"></div>
	<!-- /ko -->
</div>

<script type="text/html" id="link">
	<a data-bind="text: text, attr: { href: href }"></a>
</script>

<div class="body-container">
	@RenderBody()
</div>